.mts-icon:before {
	font-family: dashicons;
	vertical-align: middle;
	font-size: 3em;
	display: block;
	padding: .1em .5em;
}

.mts-icon.twitter:before {
	content: '\f301';
	color: #55acee;
}

.mts-icon.facebook:before {
	content: '\f304';
	color: #4c66a4;
}

.mts-icon.google:before {
	content: '\f462';
	color: #dd4b39;
}

.mts-icon.pinterest:before {
	font-family: icomoon;
	content: '\ead0';
	color: #cc2127;
}

.mts-social-share {
	margin: .5em 0;
	display: table;
	width: 100%;
	background: rgba( 240,240,240,.8 );
}

.mts-social-share .mts-links {
	display: table-row;
}

.mts-social-share .mts-link  {
	display: table-cell;
	text-align: center;
	width: 25%;
	position: relative;	
}

.mts-social-share a {
	padding: .25em 0;
	width: 100%;
	text-decoration: none;
}

.mts-social-share .description {
	display: none;
}

.mts-social-share a:hover, .mts-social-share a:focus {
	background: rgba( 255, 255, 255, .3 );
	outline: 1px solid #000;
}

.mts-social-share a:focus + [role="tooltip"], .mts-social-share a:hover + [role="tooltip"] {
	display: block;
	padding: .5em 0;
	position: absolute;
	top: 100%;
	width: 100%;
	box-shadow: 0 0 2px #000;
	background: #fff;
	text-shadow: none;
	line-height: 1.5;
}